body {
    background: url(../images/signin.png);
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

.main-signup {
    width: 455px;
    height: 360px;
    margin: 120px auto;
}
.main-signup .main-signup__head {
    background: rgba(31,30,35,0.98);
    border-bottom: 1px solid #2d2f32;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 1px 0px #000;
    padding: 12px 0;
}
.main-signup .main-signup__head h3 {
    color: #E7E7E7;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Goldman', cursive;
}
.main-signup .main-signup__middle {
    background: rgba(36,35,40,0.80);
    border-bottom: 1px solid #2d2f32;
    border-top: 1px solid #2d2f32;
}
.main-signup .main-signup__middle .middle__form {
    margin: 20px 0 20px 0;
}
.main-signup .main-signup__middle .middle__form ::-webkit-input-placeholder {
    color: #25262a;
}
.main-signup .main-signup__middle .middle__form :-moz-placeholder {
    color: #25262a;
}
.main-signup .main-signup__middle .middle__form ::-moz-placeholder {
    color: #25262a;
}
.main-signup .main-signup__middle .middle__form :-ms-input-placeholder {
    color: #25262a;
}
.main-signup .main-signup__middle .middle__form input {
    text-align: center;
    background: rgba(250,250,250,0.80);
    border-radius: 10px 10px 10px 10px;
    border: none;
    color: black;
    outline: none;
    padding: 12px 0;
}
.main-signup .main-signup__middle .middle__form input[type="text"] {
    margin: 0 5px 0 10px;
    width: 46.5%;
}
.main-signup .main-signup__middle .middle__form .central {
    margin: 10px 0 0 0;
}
.main-signup .main-signup__middle .middle__form .central input[type="tel"]{
    margin: 0 0 0 0;
    width: 46.5%;
}
.main-signup .main-signup__middle .middle__form input[name="lastNameInput"] {
    margin: 0 0 0 0;
}
.main-signup .main-signup__middle .middle__form input[type="email"] {
    margin: 10px 10px 0;
    width: 95%;
}
.main-signup .main-signup__middle .middle__form input[type="password"] {
    margin: 10px 10px 0;
    width: 95%;
}
.main-signup .main-signup__foot {
    background: rgba(31,30,35,0.98);
    border-top: 1px solid #2d2f32;
    border-bottom: 1px solid #2d2f32;
    border-radius: 0 0 10px 10px;
    width: 100%;
}
.main-signup .main-signup__foot input[type="submit"]{
    text-align: center;
    background: #00aeef;
    border-radius: 10px 10px 10px 10px;
    border-style: none;
    margin: 20px 0 20px 10px;
    color: black;
    display: block;
    font-weight: bold;
    padding: 12px 0;
    cursor:pointer;
    width: 95%;
}
.main-signup .main-signup__foot input[type="submit"]:active {
    background: #80d6f7;
}
